#map {
  overflow:visible ;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.mapboxgl-popup {
  transform:none !important;
  right: 0%;
  top: 101%;
  width: 393px !important;
}

.mapboxgl-popup-content {

  h2 p {
    color: #837027 !important;
  }
  background-color: #f2efe2;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapboxgl-popup-anchor-botto {
  background-color: #837027;
}
