#map {
  overflow:visible;
}

.mapboxgl-popup {
  transform:none !important;
  right: 0%;
  top: 110%;
  width: 390px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
