#myModal {
  background-color:#f2efe2;
  position: absolute;
  width: 300px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  display: none;
}

.modal-top {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#closeBtn {
  background-color: #f2efe2;
  border: 0px;
}

#myModal:hover {
  #closeBtn {
    font-size: large;
  }
}
