<h2><%= location.name %></h2>
<p><%= location.address %></p>
<p>
  <audio controls>
  <source src="https://res.cloudinary.com/dq9oebltp/video/upload/v1663612237/Oltre%20Il%20Velo%20-%20Luis%20Gomez%20de%20Teran%20-%20-%20Piazza%20Di%20Vagno%20-%202015/Oltre%20Il%20Velo%20audio%201.mp3" type="audio/mpeg">
</audio>
</p>

<p>

 <%#  <% if Location.name == 'Oltre Il Velo' %>
  <%#   <p>HEllo</p>
  <% end %>

  <%# <img src="https://res.cloudinary.com/dq9oebltp/image/upload/v1663682442/16107180_1641327562828867_5260579686812244877_o_bdsktl.jpg" alt=""> %>
</p>

<div class="scroll">
  <p>
    <%= location.text  %>
  </p>
</div>
<p>
  <video controls class="video">
    <source src="https://res.cloudinary.com/dq9oebltp/video/upload/v1663612240/Oltre%20Il%20Velo%20-%20Luis%20Gomez%20de%20Teran%20-%20-%20Piazza%20Di%20Vagno%20-%202015/Oltre%20Il%20Velo%20video%201.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</p>
