<h2><%= location.name %></h2>
<p><%= location.address %></p>
<p>
  <audio controls>
  <source src="https://drive.google.com/drive/folders/16CdgxlHwox2eK1Uc094LD-p0kRBiF5f3" type="audio/mpeg">
</audio>
</p>
<div class="scroll">
  <p>
    <%= location.text %>
  </p>
</div>
<p>
  <video controls class="video">
    <source src="https://drive.google.com/drive/folders/1hxPaXXaumtK_hWyoltIqkqhU3i1pOAbl" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</p>
