<h1 id="h1-new">Enter your new Location</h1>

<div class="input-field">
  <%= render 'locations/form', location: @location %>
</div>




<div id="back-button-inpu">
  <%= link_to 'Back', locations_path %>
</div>
